body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: azure;
    color: black;
    margin: 20px 40px;
}

.sidemenu{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 55%;
    width: 20%;
    background-color: darkslategrey;
    z-index: 1;
    overflow-x: hidden;
    box-shadow: 4px 4px 10px 3px cadetblue;  
    display: none;
    border-radius: 0 20px 20px 20px;
}

span{
    color:cadetblue;  
    text-decoration: underline;
}

.sidemenu a{
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    
}

.sidemenu a:hover{
    color: white;
    background-color: darkcyan;
    box-shadow: 4px 4px 1px 3px cadetblue;  
    font-weight: bold;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 38px;
    width: 100%;
    background-color: darkslategrey;
}

.header-p{
    text-align: right;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 0px 10px 0px 0px;
 }

#open{
    width: 5%;
    background: cadetblue;  
    border: none;
    padding: 10px 10px;
    top: 0px;
    left: 0px;
    position: fixed;
    font-weight: bold;
    color: white;
}

#close{
    width: 5%;
    background: cadetblue;  
    color: white;
    border: none;
    padding: 10px 10px 10px 10px;
    top: 0px;
    left: 0px;
    position: fixed;
    font-weight: bold;
}

nav{
    margin-top: 40px;
}

.logo{
    width: 30%;
    float: right;
    
}

.log-ikon{
    margin: 40px auto 5px auto;
    padding: 0 auto;

}

strong{
    color: darkseagreen;
    text-decoration: underline;
}


.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
    background-color: darkslategrey; 
    font-size: 12px;
    color: white;
    padding-bottom: 10px;
    text-align: center;
}

.fej{
    background-color: white;
    width: 59.5%;
    height: 120px;
    padding: 5px;
    margin: 60px auto 20px auto;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategrey;
}

#nev{
    padding-left: 20px;
    font-size: 25px;
}

.profil-ikon{
    width: 110px;
    margin: 0px 0px 0px 40px;
    position: block;
}

.felh-adatok{
    padding-left: 20px;
    font-size: 13px;
}

.body-b{
    margin: 50px auto 0px auto; 

}

.sajat-feltoltesek{
    background-color: white;
    width: 60%;
    height: auto;
    padding: 20px 1px 20px 1px;
    margin: 10px auto 50px auto;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategrey;
}

.sajat-feltoltesek td{
    padding: 3px;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 2px;

}

.sajat-feltoltesek th{
    padding: 5px;
    background-color: darkslategrey;
    color: white; 
    font-weight: bold;

}

.sajat-feltoltesek tr:hover{
    background-color: rgba(88, 226, 88, 0.479);
}


.sajat-feltoltesek table{
    margin: 0 auto;
    width: 99%;
    text-align: justify;

}

caption{
    margin: 0 auto;
    font-weight: bold;
}

.view{
    width: 20px;
    height: 20px;
    padding: 2px;
}

input{
    background-color: aliceblue;
    padding: 1px;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 100%;
}

.feltoltes{
    background-color: white;
    width: 60%;
    height: auto;
    padding: 20px 1px 20px 1px;
    margin: 10px auto 10px auto;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategrey;
}

.feltoltes table{
    margin: 5px auto 5px auto;
    text-align: center;

}

.feltoltes td{
    padding: 3px;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 2px;
    background-color: aliceblue;
}

.feltoltes th{
    padding: 5px;
    background-color: darkslategrey;
    color: white; 
    font-weight: bold;
}
#submit{
        margin: 2px 0px 0px 290px;
        border: none;
        border-radius: 100px 100px 100px 100px;
        background-color: darkslategray;
        color: white;
        font-weight: bold;
        font-size: 17px;
        width: 140px;
        height: 25px;
        padding: 1px 1px 1px 1px; 
}

#button {
    display: inline-block;
    background-color: cadetblue;    
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }

  #button::after {  
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
